@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

:root {
    --bg-color1: #6610A6;
    --bg-color2: #FFFFFF;
    --font-color: #f2f2f2;
}

body {
    font-family: "Pathway Extreme", serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
  display: none; 
}

header {
    display: flex;
}

nav {
    display: grid;
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, var(--bg-color2), var(--bg-color1));
    grid-template-columns: 0.1rem 1fr 3fr;
    justify-content: center;
    align-items: center;
    top: 0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.header img {
    margin-left: 30px;
    margin-top: 5px;
    height: 35px;
}

.welcome-section {
  position: relative;
  text-align: center;
  width: 100%;
}

.image-container {
  position: relative;
  width: 100%;
}

.welcome-section {
  position: relative;
  text-align: center;
  width: 100%;
}

.image-container {
  position: relative;
  width: 100%;
  height: 40vh; 
  overflow: hidden;
}

.welcome-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2.5px);
  -webkit-filter: blur(2.5px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100%;
  padding: 0 10px;
}

.welcome-text h1,
.welcome-text h2,
.welcome-text p {
  margin: 0;
  padding: 0;
}

.welcome-text h1 {
  font-size: 2.083vw; 
  font-family: "Pathway Extreme", serif;
  font-weight: 600;
}

.welcome-text h2 {
  font-size: 4.792vw;
  font-family: "Pathway Extreme", serif;
  font-weight: bold;
}

.welcome-text p {
  font-size: 1.26vw; 
  font-family: "Pathway Extreme", serif;
  font-weight: 600;
}

.navigation-tabs {
  width: 100%;
  background-color: #6a0dad;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: center;
  width: 100%; 
}

.tab-button {
  flex: 1; 
  padding: 14.3px;
  cursor: pointer;
  background-color: #9e4bdc; 
  color: white;
  border: none;
  font-size: 0.937vw;
  font-family: "Pathway Extreme", serif;
  font-weight: 600;
  text-align: center;
  transition: background-color 0.3s;
}

.tab-button:hover {
  background-color: #8751c7;
}

.tab-content {
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
  display: none; 
}

/* Main Section */
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Pathway Extreme', sans-serif;
    position: relative;
    background-image: url("../Assets/BACKGROUND/Sangguniang Kabataan.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#main div {
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f2f2f2;
    letter-spacing: 0.15rem;
}

#main div h2 {
    font-size: 2.2rem;
    padding: 1rem 0;
}

#main div h1 {
    font-size: 3.5rem;
    padding: 1rem 0;
}

#main div h4 {
    font-size: 1.5rem;
    padding: 1rem 0;
}

/* Navigation Bar */
#navBar {
    background-color: #9e4bdc;
    font-family: Montserrat, sans-serif;
}

#navBar ul {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    list-style: none;
}

#navBar ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.15rem;
    padding: 0.1rem 1rem;
    position: relative;
    text-align: center;
}

#navBar ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 50%;
    background: #f2f2f2;
    position: absolute;
    transition: all 0.3s ease;
}

#navBar ul li a:hover::after {
    left: 0;
    width: 100%;
}

#navBar ul li a.click.active::before {
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #f2f2f2;
    position: absolute;
    transition: all 0.3s ease;
}

/* Section 1 Layout */
#section-1 {
    flex: 1 1 auto;
    display: grid;
    font-family: 'Pathway Extreme', sans-serif;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 0.1fr 1.9fr;
    grid-template-areas:
        "Name dashboard-title"
        "dashboard-nav stats-wrap";
}

#section-1 .Name {
    justify-self: center;
    align-self: center;
    grid-area: Name;
    text-decoration: none;
}

#section-1 .Name .admin-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid #000;
}

#section-1 .dashboard-title {
    padding: 0.2rem 1rem;
    grid-area: dashboard-title;
    align-self: center;
    background-color: #a101a2;
}

#section-1 .dashboard-title h2 {
    font-weight: 600;
    color: #f2f2f2;
}

#section-1 .dashboard-nav {
    padding: 1rem;
    grid-area: dashboard-nav;
    justify-self: center;
    border: 1px solid #333;
    width: 100%;
    height: 100vh;
}

#section-1 .dashboard-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

#section-1 .dashboard-nav ul li {
    padding: 1rem 0;
}

#section-1 .dashboard-nav ul li a {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    padding: 0.1rem 1rem;
    color: #6610a6;
    transition: color 0.3s ease;
}

#section-1 .dashboard-nav ul li a:hover {
    color: #f2f2f2;
}

#section-1 .dashboard-nav ul li a::after {
    content: "";
    background: #a101a2;
    width: 0%;
    height: 0%;
    top: 50%;
    left: 0;
    position: absolute;
    border-radius: 25px;
    z-index: -1;
    transition: width 0.3s ease, height 0.3s ease, top 0.3s ease;
}

#section-1 .dashboard-nav ul li a:hover::after {
    width: 100%;
    height: 100%;
    top: 0;
}

#mainContainer {
    height: 70%;
    width: 100%;
}

#searchSection {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#searchSectionText {
    width: 40%;
    height: 100%;
    margin: 20px;
}

#searchSectionText h1 {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin: 20px 0 10px 0;
}

#searchSectionText p {
    font-size: 0.8em;
    font-family: 'Pontano Sans', sans-serif;
    color: #908989;
}

#searchSectionActions {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#searchSectionActions i {
    cursor: pointer;
}

#searchSectionActions i:hover {
    color: #a101a2;
}

#searchBox {
    border-radius: 10px;
    padding: 20px;
    width: 60%;
    border: solid 1px #5A5A5A;
}

#tableContainer {
    width: 100%;
    height: 100%;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

th {
    font-weight: 300;
    font-family: 'Pathway Extreme', sans-serif;
    font-size: 0.9em;
    color: #f2f2f2;
}

tr, td {
    text-align: center;
}

td i {
    cursor: pointer;
}

td i:hover {
    color: #a101a2;
}

#tableContainer th {
    padding: 0;
    margin: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #6610A6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  
  .credit {
    font-size: 0.7rem;
    color: var(--font-color);
    display: flex; 
    align-items: center; 
    gap: 4px; 
    text-decoration: none; 
    margin-right: 1vw;
    white-space: nowrap;
  }
  
  .credit i {
    font-size: 0.5rem;
  }
  
  .credit span {
    font-size: 0.6rem; 
  }
  
  .footer-content {
    width: 90%;
    height: 20px;
    max-width: 1200px;
    margin: 0 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .footer-icon img {
    width: 12px;
    height: 12px;
    object-fit: contain;
    transition: transform 0.3s;
  }
  
  .footer-icon:hover img {
    transform: scale(1.2);
  }
