@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color1: #6610A6;
    --bg-color2: #FFFFFF;
    --font-color: #f2f2f2;
}

body {
    font-family: "Pathway Extreme", sans-serif;
    overflow-x: hidden;
    margin-bottom: 0;
}

body::-webkit-scrollbar {
    display: none; 
}

header {
    display: flex;
}

nav {
    display: grid;
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, var(--bg-color2), var(--bg-color1));
    grid-template-columns: 0.1rem 1fr 3fr;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 1000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.header img {
    margin-left: 30px;
    margin-top: 5px;
    height: 35px;
}

.logsignbutton {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    height: 30px;

}

.logbutton {
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    color: #FFFFFF;
}

.signbutton {
  color: #9854cb;
}

.logsignbutton button {
    margin-right: 5px;
    padding: 0 5px;
    height: 100%;
    width: 70px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
}

.welcome-section {
  position: relative;
  text-align: center;
  width: 100%;
}

.image-container {
  position: relative;
  width: 100%;
}

.welcome-section {
  position: relative;
  text-align: center;
  width: 100%;
  transition: opacity 0.5s ease;
}

.welcome-section.hidden {
  opacity: 0;
  visibility: hidden;
}

.image-container {
  position: relative;
  width: 100%;
  height: 40vh; 
  overflow: hidden;
}

.welcome-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2.5px);
  -webkit-filter: blur(2.5px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100%;
  padding: 0 10px;
}

.welcome-text h1,
.welcome-text h2,
.welcome-text p {
  margin: 0;
  padding: 0;
}

.welcome-text h1 {
  font-size: 2.083vw; 
  font-family: "Pathway Extreme", serif;
  font-weight: 600;
}

.welcome-text h2 {
  font-size: 4.792vw;
  font-family: "Pathway Extreme", serif;
  font-weight: bold;
}

.welcome-text p {
  font-size: 1.26vw; 
  font-family: "Pathway Extreme", serif;
  font-weight: 600;
}

.navigation-tabs {
  width: 100%;
  background-color: #6a0dad;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: center;
  width: 100%; 
}

.tab-button {
  flex: 1; 
  padding: 14.3px;
  cursor: pointer;
  background-color: #9e4bdc; 
  color: white;
  border: none;
  font-size: 0.937vw;
  font-family: "Pathway Extreme", serif;
  font-weight: 600;
  text-align: center;
  transition: background-color 0.3s;
}

.tab-button:hover {
  background-color: #8751c7;
  cursor: pointer;
}

.tab-button.active {
  border-bottom: 3px solid #f2f2f2;
}

.tab-content {
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
  display: none; 
}

.main-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100vw;
    z-index: 2;
}

.main-content {
    position: relative;
    height: auto;
    width: 100vw;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.scholarship {
  position: relative;
  top: 3rem;
  left: 2.5rem;
  height: 60vh;
  width: 90vw;
  padding: 1.25rem;
  margin: 1.25rem;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 3;
  transition: height 0.5s ease;
}

.scholarship.expand {
  height: 130vh;
  transition: height 0.5s ease;
}

.scholarship img {
  position: relative;
  left: 0.5rem;
  padding: 1rem;
  height: 20rem;
  width: 20rem;
  object-fit: contain;
  border: solid black;
}

.scholarship h1 {
  position: relative;
  bottom: 20.5rem;
  left: 35rem;
  font-weight: 300;
  font-size: 3rem;
  
}

.scholarship hr {
  position: relative;
  bottom: 20.5rem;
  left: 30%;
  border: none;
  height: 1px;
  width: 70%;
  background-color: #9B9797;
  opacity: 0.5;
}

.scholarship-container {
  position: relative;
  bottom: 20rem;
  left: 31%;
  display: block;
  line-height: 2.5;
}

.label {
  color: #908989;
}

.scholarship-container ul {
  list-style-type: square; 
  line-height: 1.5;
  margin-left: 50px;
}

.desc-box {
  position: relative;
  bottom: 27vh;
  left: 27.5vw;
  height: 27vh;
  width: 36.5%;
  background-color: #f2f2f2;
  box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.title {
  color: #908989;
  padding: 1rem 0rem 0rem 1.5rem;
}

.body {
  padding: 0rem 1rem 0rem 1.5rem;
  line-height: 1.1;
  text-align: justify;
}

.more-content {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  visibility: hidden;
}

.more-content hr {
  position: absolute;
  top: 41%;
  left: 32%;
  border: none;
  height: 1px;
  width: 65%;
  background-color: #9B9797;
  opacity: 0.5;
}

.more-content.show {
  visibility: visible;
  opacity: 1;
  height: 100vh;
}

.more-content-box {
  position: absolute;
  top: 45%;
  border-radius: 10px;
  left: 2.5%;
  height: 60vh;
  width: 50%;
  background-color: #f2f2f2;
  box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.title {
  color: #908989;
  padding: 1rem 0rem 0rem 1.5rem;
}

.more-content-box ul {
  list-style-type: square;
  margin-left: 15%;
}

.more-content-box hr {
  position: relative;
  top: 10%;
  left: 10%;
  border: none;
  height: 1px;
  width: 80%;
  background-color: #9B9797;
  opacity: 0.5;
}

.redirect {
  color: #908989;
  padding: 3rem 0rem 0rem 1.5rem;
}

.more-content-box a {
  padding: 5rem 0rem 0rem 1.5rem;
}

.contact {
  color: #908989;
  padding: 3rem 0rem 0rem 1.5rem;
}

.details {
  padding: 1rem 0rem 0rem 1.5rem;
}

.more-desc-right {
  position: relative;
  left: 105%;
  bottom: 95%;
  height: 50vh;
  width: 38vw;
  text-align: justify;
}

.fulldetails {
  color: #908989;
}

.buttons {
  position: absolute;
  left: 50%;
  top: 85%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
  z-index: 3;
}

.buttons button {
  border-radius: 50px;
  border: none;
  height: 25px;
  width: 150px;
  font-family: 'Pathway Extreme', sans-serif;
  color: #f2f2f2;
  background-color: #A101A2;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.buttons.moved {
  position: absolute;
  top: 88%;
  transform: translateX(50%);
  transition: transform 0.3s ease;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #6610A6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.credit {
    font-size: 0.7rem;
    color: var(--font-color);
    display: flex; 
    align-items: center; 
    gap: 4px; 
    text-decoration: none; 
    margin-right: 1vw;
    white-space: nowrap;
}

.credit i {
    font-size: 0.5rem;
}

.credit span {
    font-size: 0.6rem; 
}

.footer-content {
  width: 90%;
  height: 20px;
  max-width: 1200px;
  margin: 0 20px;
  display: flex;
  justify-content: flex-end;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.footer-icon img {
  width: 12px;
  height: 12px;
  object-fit: contain;
  transition: transform 0.3s;
}

.footer-icon:hover img {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .tab-button {
      font-size: 0.9em;
      padding: 10px;
  }
}
