@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

// Color Variables

$color1: #FFFFFF;
$color2: #6610A6;
$color3: #9E4BDC;
$color4: #03b0c1;
$font-clr1: #f2f2f2;
$font-clr2: #848484;
$font-clr3: #A539AD;
$btn-clr1: #A101A2;

// Font Styles

$font1: 'Pathway Extreme', sans-serif;
$font2: Montserrat, sans-serif;

body {
    width: 100%;      
    height: 100vh;     
    display: flex;
    flex-direction: column;
}


// Style for Header go here

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, $color1, $color2);
    font-family: $font1;
    padding: 0 1rem;

    div {
        background: linear-gradient(to right, $color2, $color4);
        background-clip: text;
        h1 {
            padding: 0 1rem;
            color: transparent;
        }
    }

    #logIn {
        font-size: 1rem;
        border-radius: 25px;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }

}

// Styling for Main go here

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font1;
    position: relative;
    background-image: url('../Assets/BACKGROUND/Sangguniang\ Kabataan.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: 0 1 auto;

    div {

        backdrop-filter: blur(5px);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        color: $font-clr1;
        letter-spacing: 0.15rem;

        h2 {
            font-size: 2.2rem;
            padding: 1rem 0;
        }

        h1 {
            font-size: 3.5rem;
            padding: 1rem 0;
        }

        h4 {
            font-size: 1.5rem;
            padding: 1rem 0;
            padding-bottom: 1rem;
        }
    }
}

// Navbar styles go here

#navBar {
    background-color: #9E4BDC;
    font-family: $font2;
    flex: 0 1 auto;
    

    ul {
        display: flex;
        justify-content: space-around;
        padding: 0.5rem;
        list-style: none;
        li {
            a {
                color: $font-clr1;
                text-decoration: none;
                font-size: 1.15rem;
                padding: 0.1rem 1rem;
                position: relative;
                text-align: center;
                flex-wrap: nowrap;

                &::after {
                    content: "";
                    width: 0%;
                    height: 2px;
                    bottom: 0;
                    left: 50%;
                    background: $font-clr1;
                    position: absolute;
                    transition: all ease 0.3s;
                }

                &:hover::after {
                    left: 0;
                    width: 100%;
                }

                &.click.active::before {
                    content: "";
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background: $font-clr1;
                    position: absolute;
                    transition: all ease 0.3s;
                }


            }

            
        }

    }


}

#section-1 {
    flex: 1 1 auto;
    display: grid; 
    width: 100%;
    font-family: $font1;
    grid-template-columns: 0.4fr 1.6fr; 
    grid-template-rows: 0.1fr 1.9fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Name dashboard-title"
      "dashboard-nav stats-wrap"; 

    .Name {
        justify-self: center;
        align-self: center;
        grid-area: Name;
        width: 100%;
        height: 100%;
        text-decoration: none;

        .admin-name {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            text-align: center;
            border: 1px solid black;
        }

    }

    .dashboard-title {
        padding: 0.2rem 1rem;
        grid-area: dashboard-title;
        align-self: center;
        background-color: $btn-clr1;
        
        h2 {
            font-weight: 600;
            color: $font-clr1;
        }
        

    }

    .dashboard-nav {
        padding: 1rem 1rem;
        grid-area: dashboard-nav;
        justify-self: center;
        border: 1px solid #333;
        width: 100%;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding: 0;
            

            li {
                padding: 1rem 0;
                
                

                a {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    position: relative;
                    padding: 0.1rem 1rem;
                    color: $color2;
                    transition: color ease 0.3s;

                    &:hover {
                        color: $font-clr1;
                    }
                    

                    &::after {
                        content: "";
                        background: $btn-clr1;
                        width: 0%;
                        height: 0%;
                        top: 50%;
                        left: 0;
                        position: absolute;
                        border-radius: 25px;
                        z-index: -1;
                        color: #FFFFFF;
                        transition: width ease 0.3s, height ease 0.3s, top ease 0.3s;
                    }

                    &:hover::after {
                        width: 100%;
                        height: 100%;
                        top: 0;
                        color: #FFFFFF;
                    }

                    span {
                        padding: 0.5rem ;
                        margin: 0;
                        text-decoration: none;    
                    }

                }

            }

        }

    }

    .stats-wrap {
        
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

        .title {
            padding: 1rem 0.5rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;

            .title-wrap {
                font-size: 1.20rem;
            }

            .funcs {
                font-size: 1.1rem;
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                label, input {
                    margin: 0 0.5rem;
                    user-select: none;
                    cursor: pointer;
                }

            }

        }

        #respondentTables {
            padding: 1rem;
            width: 100%;

            thead {
                tr {
                    margin: 0;
                    padding: 0;
    
                    th {
                        border: 1px solid #3333338a;
                        padding: 0.2rem 1rem;
                    }
    
                }
            }

        }

    }

}




#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em;
    font-family: $font2, sans-serif;
    background: $color4;
    flex: 0 1 auto;

    div {
        display: flex;
        align-items: center;

        h3 {
            margin: 0 1rem;
        }
    }

    ul {
        display: flex;
        list-style: none;

        li {

            i {
                margin: 0 1rem;
                cursor: pointer;
            }

        }

    }

}